* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main{
  width: 95%;
  margin: 0 auto;
}
header {
  background-color: white;
  color: gray;
  padding-top: 0px;
  padding: 10px 70px;
}

header a {
  color: gray;
}
.logo {
  color: gray;
}
.fBgAbout {
  background-image: url("../asset/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 70px;
  border: 2px solid transparent;
}
.imgDown {
  margin-top: 200px;
  color: white;
  font-size: 25px;
}
.contactSec {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 70px;
justify-content: space-between;
  /* gap: 30px; */
  margin: 50px 0px;
}
.map{
  max-width: 700px;
}
.map img{
  width: 100%;
}
.contactText{
  width: 500px;
}
.contactUs{
  width: 500px;
}
.firstRowFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.oneRowFlex {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.oneRowFlex h4 {
  font-size: 20px;
}
.contactSec h1 {
  color: black;
  margin: 10px 0px;
}
input {
  display: block;
  padding: 10px ;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0px;
  /* width: 200px;
  max-width: 300px; */
}



textarea{
  border-radius: 10px;
  padding: 10px;
resize: none;
margin-top: 10px;
}

.contactText h2{
  font-size: 30px;
}
.contactText p{
  font-size: 20px;
  color: gray;
  margin: 10px 0px;
}
.btnUs{
padding: 7px 25px;
border-radius: 5px;
background-color: aquamarine;
border: 2px solid aquamarine;
color: white;
margin: 10px 0px;
font-size: 15px;
}
@media screen  and (max-width:767px){
  header{
    background-color: aliceblue;
  }
  .contactSec {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 15px;
    margin: 50px 0px;
  }
  .oneRowFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
  }
  .holder{
max-width: 480px;
  
  }
  .contactUs{
    max-width: 500px;
  }
  .map img{
    max-width: 450px;
  }
  input{
    max-width:480px;
  }

.time{

  margin-right: 30px;
  width: 150px;
}
.timee{
  margin-right: 40px;
}
.nums{
  text-align: start;
  margin-right: 160px;
}
}