* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  width: 95%;
  margin: 0 auto;
}
header a {
  color: aquamarine;
}
header {
  background-color: white;
  color: aquamarine;
  padding-top: 0px;
  padding: 10px 70px;
}

.logo {
  color: aquamarine;
}
.show{
  color: white;
}
p {
  font-size: 19px;
}
.fBgDis {
  background-image: url("../asset/discover-bg.png");
  background-repeat: no-repeat;
  /* background-size: 1700px; */
  background-size: cover;
  border: 2px solid transparent;
  padding: 10px 70px;
}
.imgDown {
  margin-top: 200px;
  color: white;
  font-size: 25px;
}
.secondDis {
  margin: 0px;

  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 70px;
}
.secondTextDis p{
  margin: 15px 0px;
  line-height: 24px;

}
.map2{
  max-width: 700px;
}
.map2 img{
  width: 100%;
}
.third{
  border: 2px solid green;

}
.half{
  border: 2px solid yellow;
}
.flexone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 10px 70px;
  border: 2px solid red;
}
.one1 {
  display: flex;
  /* justify-content: space-between; */
  gap: 180px;
}
.oneflexx{
  display: flex;
  justify-content: space-between;
  gap: 7px;
  margin-bottom: 15px;
  font-size: 50px;
}
.col{
  color: aquamarine;
}

.halfText {
  margin: 15px 0px;
  line-height: 24px;

}
.sameimg {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pos {
  border-radius: 10px;
  width: 100%;
}
.same {
  position: relative;
}
.try {
  position: absolute;
  top: 10px;
  margin-left: 5px;
  color: white;
}
.try p {
  font-size: 1.3em;
  margin-top: 15px;
  color: white;
}
.none {
  margin-top: 40px;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  color: white;
  background-color: aquamarine;
}
.imgthird {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
@media screen and (max-width:767px) {
  header{
    background-color: antiquewhite;
  }
  .flexone{
   display: flex;
   flex-direction: column;
  }
  .third{
    display: flex;
    flex-direction: column;
  }
 main{
  margin: 0 auto;
 }
 .halfText{
  border: 2px solid rebeccapurple;

 }
  .secondDis {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  /* padding: 10px 70px; */
}
.secondTextDis p{
 padding: 10px 0px;
  margin-left: 0px;
}

.flexone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  /* padding: 10px 70px; */
}

}